.panel-body{
    padding: 64px;
}
.form-group{
    margin: 16px 0px;
}
.form-control {
    width:600px;
}
.form-group textarea{
    
    height: 100px;
    width: 300px;
}
.show-img{
    width: 100px;
    height: 100px;
}