*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    width: 100%;
}
.row{
    width: 100%;
}
.two-column{
    width: 50%;
    float: left;
    padding: 8px 16px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 52px;
    background-color: antiquewhite;
    position: relative;
}
.header__brand{
    line-height: 52px;
    max-width: 80%;
    padding: 0px 32px;
    color: chocolate;
    font-size: 24px;
    float: left;
    border-right: 1px;
    border-color: black;
}
.header__dropdown{
    width: 15%;
    right:0;
    position: absolute;
    list-style-type: none;
    padding: 0px 32px;
    list-style-position: inside;
}
.header__dropdown div{
    display: inline;
    width: 70%;
}
.header__dropdown img{
    width: 46px;
    height: 46px;
    border-radius: 50%;
}
.header__sub-dropdown{
    display: none;
    background-color:blanchedalmond;
    border-radius: 10px;
    list-style: none;
}
.header__sub-dropdown>li{
    height: 36px;
    line-height: 36px;
    padding-left: 16px;
}
.header a{
    text-decoration: none;
    color: black;
}
.header__dropdown>li:hover .header__sub-dropdown{
    display: block;
}

.container{
    width: 100%;
    display: flex;
}
.sidebar{
    width: 15%;
    background-color: blanchedalmond;
}
.sidebar__nav{
    list-style-type: none;
}
.sidebar__nav>li{
    height: 50px;
    list-style: none;
    list-style-position: inside;
    line-height: 52px;
    padding-left: 32px;
    border: 1px solid #ddd;

}
.sidebar__nav>li:hover{
    background-color: rgb(182, 168, 152);
}
.sidebar__nav a{
    color: coral;
    text-decoration: none;
    width: 100%;
    display: block;
}

.page-wapper {
    width: 81%;
    height: calc(100vh - 92px);
    padding: 20px 2%;
    background-color: rgb(236, 232, 232);
}
.page-path{
    width: 100%;
    height: 32px;
    padding: 5px 10px;
    background-color: blanchedalmond;
    box-sizing: border-box;
}
.page-title{
    text-align: center;
    height: 54px;
    line-height: 54px;
    border-bottom: 1px solid #000;
}
.page-search{
    float: right;
}
.two-column select, input {
    padding: 7px;
}
.page-table  table th,td{
    padding: 6px;
    border-color: white;
    border-radius: 5px;
}

.btn{
    padding: 8px;
    border-radius: 5px;
}
.btn:hover{
    opacity: 0.6;
}
.btn-add{
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    margin-bottom: 8px;
}
.btn-edit{

    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-delete{
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.pagination{
    list-style: none;
    display: flex;
}
.page-item{
    list-style: none;
    padding: 2px;
    margin-top: 5px;
    border: 1px solid rgb(229, 235, 157);
    border-radius: 3px;
    opacity: 0.8;
}
.page-item:hover{
    opacity: 1;
}
.page-active{
    background-color: blue;
}
.page-active>a{
    color: #fff;
}